.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 200px;
  height: 200px;
  background-color: gray;
  justify-content: center;
  padding: 20px 20px white;
}

.shoe {
  width: 100px;
  height: 100px;
}
